In [10]:
import pandas as pd 
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)
from IPython.display import clear_output
from spello.model import SpellCorrectionModel  
sp = SpellCorrectionModel(language='en')

In [2]:
data=pd.read_csv('wikisent2.txt',
                sep='\n',
                error_bad_lines=False,
                 names=['sentences']
                )

In [3]:
data.head()

                                           sentences
0  0.000123, which corresponds to a distance of 7...
1  000webhost is a free web hosting service, oper...
2  0010x0010 is a Dutch-born audiovisual artist, ...
3  0-0-1-3 is an alcohol abuse prevention program...
4  0.01 is the debut studio album of H3llb3nt, re...

In [5]:
data.sample(5)

                                                 sentences
3085642  It is located in the north-west of the Belait ...
6662168               There is access from Whitfield Hill.
4509846  Pearls Kabaddi World Cup 2011 was the second e...
6703022  The rim overlaps a slightly smaller crater to ...
4065178  Microdes diplodonta is a moth in the family Ge...

In [6]:
data.tail()

                                                 sentences
7866553  Zzyzx is the third studio album of the Norwegi...
7866554  Zzyzzyxx is a stand-up coin-operated arcade ga...
7866555  Zzzax is a fictional character appearing in Am...
7866556  ZZ, ZE, EE and EZ are the four structural isom...
7866557  Z (Z [ZETTO]) is the fifth album released by t...

In [7]:
data.columns

Index(['sentences'], dtype='object')

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7866558 entries, 0 to 7866557
Data columns (total 1 columns):
 #   Column     Dtype
---  ------     -----
 0   sentences  object
dtypes: object(1)
memory usage: 60.0+ MB

In [9]:
data.describe()

                    sentences
count                 7866558
unique                7866543
top     Take It to the Limit.
freq                        2

In [10]:
sub='\n'
data["newline"]= data["sentences"].str.find(sub)

In [11]:
data

                                                 sentences  newline
0        000webhost is a free web hosting service, oper...       -1
1        0010x0010 is a Dutch-born audiovisual artist, ...       -1
2        0-0-1-3 is an alcohol abuse prevention program...       -1
3        0.01 is the debut studio album of H3llb3nt, re...       -1
4        001 of 3 February 1997, which was signed betwe...       -1
...                                                    ...      ...
7866553  Zzyzx is the third studio album of the Norwegi...       -1
7866554  Zzyzzyxx is a stand-up coin-operated arcade ga...       -1
7866555  Zzzax is a fictional character appearing in Am...       -1
7866556  ZZ, ZE, EE and EZ are the four structural isom...       -1
7866557  Z (Z [ZETTO]) is the fifth album released by t...       -1

[7866558 rows x 2 columns]

## -1 means that '\n' doesnt exicst

In [12]:
sentences_list=data['sentences'].tolist()

In [13]:
len(sentences_list)

7866558

In [ ]:
# sp.train(sentences_list)

Spello training started..
Context model training started ...

In [26]:
data_chunks=pd.read_csv('wikisent2.txt',
                chunksize=100000,
                sep='\n',
                error_bad_lines=False,
                header=None,
                names=['sentences']
                )

In [27]:
counter=1
for chunk in data_chunks:
    chunk_df=pd.DataFrame(chunk['sentences'])
    clear_output(wait=True)
    counter+=1
    print("We are in {} chunk".format(counter))
    sentences_list=chunk_df['sentences'].tolist()
    sp.train(sentences_listsp.spell_correct('i wnt to ply futbal'))
    sentences_list=None 
    chunk_df=Nonesp.spell_correct('i wnt to ply futbal')
else:
    print("Done")

We are in 80 chunk
Spello training started..
Context model training started ...
Symspell training started ...
Phoneme training started ...
Spello training completed successfully ...
Done

In [28]:
sp.save(model_save_dir='D:\jupyternotebooks\prototype2')

'D:\\jupyternotebooks\\prototype2\\model.pkl'

In [29]:
sp.load('D:\jupyternotebooks\prototype2\model.pkl')

In [30]:
sp.spell_correct('i wnt to ply futbal')

6

{'original_text': 'i wnt to ply futbal',
 'spell_corrected_text': 'i wnt to play football',
 'correction_dict': {'ply': 'play', 'futbal': 'football'}}

In [31]:
sp.spell_correct('i lov to ply futbal')

6

{'original_text': 'i lov to ply futbal',
 'spell_corrected_text': 'i love to play football',
 'correction_dict': {'lov': 'love', 'ply': 'play', 'futbal': 'football'}}

In [37]:
sp.spell_correct('i lke my food')

6

{'original_text': 'i lke my food',
 'spell_corrected_text': 'i like my food',
 'correction_dict': {'lke': 'like'}}